.ar-controls{
    margin-top: -25vh;
    
}

.scrolling-buttons{
    white-space: nowrap;    
    overflow-x: scroll;
    overflow-y: hidden;
}

.butt-ar{
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif, !important;
    font-size: 1.25rem;
    font-weight: 300;
    background-color: #5CA8B2;
    color: #F2F1E8 !important;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
  }
  
  .butt-ar:focus{
    background-color: #48858e;
    text-decoration: none;
    color: #F2F1E8 !important;
    border: 2px solid #F2F1E8;
    width: auto;

  }

  .butt2{
    background-color: #F2F1E8;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif, !important;
    font-size: 1.25rem;
    font-weight: 300;
    color: #5CA8B2;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #5CA8B2;
    
  }

  
  
  