<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <!-- Imporant meta information to make the page as rigid as possible on mobiles, to avoid unintentional zooming on the page itself  -->
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Character Tutorial</title>
    <link href="../bootstrap-5.0.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../view/base.css" />
    <script src="https://use.fontawesome.com/ecd900b485.js"></script>
    

    
</head>
<body>
    

    <div class="container">
        <div class="row">
            <div class="col-7">
                <div class="exercise-container mb-5 mb-lg-0 text-center text-lg-start pt-3">
                  <!-- <audio id="jjaudio">
                    
                    <source src="../model/exercises/jj.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                  </audio> -->
                  
                  <a class="butt" href="./list.html" > <span> ⏪</span> Hacks</a>
                  
                  <h2 id="title-exercise" class="mt-5 ">..</h2> 

                  <div id="exercise-start">
                    <p class="mt-5 ">Do the exercises to discover which benefits you will gain!</p>  

                    <div class="d-flex justify-content-start" >                    
                        <button id="starter" class="butt" type="button"> Let's Go<span> 💪 </span></button>
                       
                      
                    </div>
                    
                  </div>
                 
                  <div class="" id="exercise-element">                                                          
    
                      <video class="exercise-video "  id="video-exercise" width="320" height="150">
                        <!-- <source src="../model/exercises/jjshort.mp4" type="video/mp4">
                        Your browser does not support HTML5 video. -->
                      </video>

                      <div id="custom-seekbar">
                        <span></span>
                      </div>                
                     
                      <div id="play-pause">
                        <button class="butt2"  id="controller" type="button" ><i class="fa fa-pause-circle" aria-hidden="true"></i></button>   
                        <button class="butt2" id="audio-controller" type="button" > <i class='fa fa-volume-up' aria-hidden='true'></i>  </button>   
                                        
                      </div>  
                  </div>  
                  
                  <div  id="exercise-benefits">
                    <div class="row">
                      
                      <p>Congratulations! These are the benefits you achieved..</p>
                      <div class="card benefit-card m-2 p-3" style="width: 22rem;">
                        <img id="benefit-image-1" class="rounded mx-auto img-benefit" src="..." alt="Card image cap">
                        <div class="card-body">
                          <h5 id="benefit-title-1" ></h5>
                          <p id="benefit-text-1" class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>

                      <div class="card benefit-card m-2 p-3" style="width: 22rem;">
                        <img id="benefit-image-2" class="rounded mx-auto img-benefit" src="..." alt="Card image cap">
                        <div class="card-body">
                          <h5 id="benefit-title-2" ></h5>
                          <p id="benefit-text-2" class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                      <a id="benefit-link" href="#" target="blank" class="link-primary">Discover more beneftis</a>
                                                                 
                    </div>                    
                  </div>
                </div>                               
            </div>
            <div class="col-5 scene-container">
                <div class="container-canvas">
                    <!-- width="100" height="100" -->
                     <!-- The loading element overlays all else until the model is loaded, at which point we remove this element from the DOM -->  
                    <div class="loading" id="js-loader"><div class="loader"></div></div>
   
                    <canvas id="c"></canvas>
                </div>
                <!-- <div class="wrapper">
                  
                <canvas id="c"></canvas>
                </div> -->
                
            </div>
        </div>
    </div>
                                 
  
  


</body>
</html>



<!-- The main Three.js file -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/108/three.min.js'></script>

<!-- This brings in the ability to load custom 3D objects in the .gltf file format. Blender allows the ability to export to this format out the box -->
<script src='https://cdn.jsdelivr.net/gh/mrdoob/Three.js@r92/examples/js/loaders/GLTFLoader.js'></script>
<!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<!-- cookies -->
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

<script type="module">

import * as test from "../controller/hacksHome.js";
try {
    test.init();
    test.update();
    test.characterExercise();
} catch (error) {
   console.error(error);
   
}



$

 

</script>
